<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styel.css">
    <title>Document</title>
</head>
<body>
    <footer>
<div  class="footer"  style="   width: 100%;
    background-color: black;
    height: 30px;
    font-size: 30px;
    margin: auto;
    color:aliceblue;
    border-radius: 10px;
 ">
    &copy;This site is copyrighted


</div>

    </footer>
</body>
</html>