<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styel.css">
    <title>Document</title>
</head>
<body>
    <h1 class="hedt1">title {{title}}  padg content</h1>
    <div class="header1">
<a href="/">HOME</a>
<a href="/service">service</a>
<a href="/team">team</a>

    </div>
</body>
</html>